.friends-page {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 15px;
}

.all-users {
  margin-top: 20px;
}

.all-users h2 {
  margin-bottom: 15px;

  color: white;

  text-shadow:
    0 0 10px rgba(139,92,246,0.4);
}

.user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px;

  background:
    linear-gradient(
      135deg,
      #111827,
      #1e1b4b
    );

  border-radius: 12px;

  margin-bottom: 10px;

  border:
    1px solid rgba(99,102,241,0.25);

  box-shadow:
    0 0 15px rgba(99,102,241,0.12);
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-info img {
  width: 55px;
  height: 55px;

  border-radius: 50%;
  object-fit: cover;

  border: 2px solid #8b5cf6;

  box-shadow:
    0 0 10px rgba(139,92,246,0.4);
}

.user-info h4 {
  margin: 0;

  color: white;
}

.user-info p {
  margin: 0;

  color: #cbd5e1;

  font-size: 13px;
}

.user-card button {
  border: none;

  background:
    linear-gradient(
      135deg,
      #6366f1,
      #8b5cf6
    );

  color: white;

  padding: 8px 14px;

  border-radius: 8px;

  cursor: pointer;

  font-weight: 600;

  transition: 0.3s;
}

.user-card button:hover {

  box-shadow:
    0 0 15px rgba(139,92,246,0.5);
}

.sent-btn {

  background:
    linear-gradient(
      135deg,
      #475569,
      #64748b
    ) !important;

  color: white;
}