*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.auth-container{
    width:100%;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#f0f2f5;
}

.auth-card{

    width:380px;

    background:white;

    padding:40px;

    border-radius:15px;

    box-shadow:0 5px 20px rgba(0,0,0,.15);

    text-align:center;
}

.auth-card h1{

    color:#1877f2;

    margin-bottom:10px;

    font-size:38px;
}

.auth-card p{

    color:#555;

    margin-bottom:30px;
}

.auth-card button{

    width:100%;

    padding:14px;

    margin:10px 0;

    border:none;

    border-radius:8px;

    font-size:18px;

    cursor:pointer;

    transition:.3s;
}

.login-btn{

    background:#1877f2;

    color:white;
}

.login-btn:hover{

    background:#166fe5;
}

.register-btn{

    background:#42b72a;

    color:white;
}

.register-btn:hover{

    background:#36a420;
}