.home-page{
  min-height:100vh;

  background:
    linear-gradient(
      135deg,
      #050816,
      #0f172a,
      #1e1b4b
    );
}

.mobile-container{

  width:100%;
  max-width:580px;

  margin:0 auto;

  padding:15px;
}

.feed-header{

  display:flex;
  justify-content:space-between;
  align-items:center;

  margin-bottom:15px;
}

.feed-header h2{

  font-size:22px;
  font-weight:700;

  color:white;

  text-shadow:
    0 0 10px rgba(139,92,246,0.4);
}

.feed-header span{

  color:#cbd5e1;

  font-size:14px;
}

.loading,
.empty-feed{

  text-align:center;

  background:
    linear-gradient(
      135deg,
      #111827,
      #1e1b4b
    );

  color:white;

  padding:20px;

  border-radius:12px;

  margin-top:15px;

  border:
    1px solid rgba(99,102,241,0.25);

  box-shadow:
    0 0 15px rgba(99,102,241,0.12);
}

/* Desktop এও Mobile App Style */

@media (min-width:768px){

  .mobile-container{

    max-width:580px;

    background:
      linear-gradient(
        135deg,
        #111827,
        #1e1b4b
      );

    min-height:100vh;

    border:
      1px solid rgba(99,102,241,0.25);

    box-shadow:
      0 0 25px rgba(99,102,241,0.15);

    padding:20px;
  }
}