.home-page{
  min-height:100vh;
  background:#f0f2f5;
}

.mobile-container{

  width:100%;
  max-width:500px;

  margin:0 auto;

  padding:15px;
}

.feed-header{

  display:flex;
  justify-content:space-between;
  align-items:center;

  margin-bottom:15px;
}

.feed-header h2{

  font-size:22px;
  font-weight:700;
}

.feed-header span{

  color:#666;
  font-size:14px;
}

.loading,
.empty-feed{

  text-align:center;

  background:white;

  padding:20px;

  border-radius:12px;

  margin-top:15px;
}

/* Desktop এও Mobile App Style */

@media (min-width:768px){

  .mobile-container{

    max-width:500px;

    background:#fff;

    min-height:100vh;

    box-shadow:
      0 0 20px rgba(0,0,0,0.1);

    padding:20px;
  }
}