.chat-popup {
  position: fixed;

  bottom: 20px;
  right: 20px;

  width: 380px;
  height: 550px;

  background: white;

  border-radius: 15px;

  overflow: hidden;

  box-shadow:
    0 5px 25px rgba(0,0,0,0.25);

  z-index: 999;
}

.chat-header {
  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 15px;

  background: #111827;

  color: white;
}

.close-chat {
  background: none;

  border: none;

  color: white;

  font-size: 20px;

  cursor: pointer;
}