.friends-page {
  padding: 30px;
}

.friends-section {
  margin-bottom: 40px;
}

.friends-section h2 {
  margin-bottom: 20px;
}

.friend-card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 12px;

  padding: 20px;
  margin-bottom: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.friend-left img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.friend-card h3 {
  margin-bottom: 5px;
}

.friend-card p {
  color: gray;
}

.friend-card button {
  border: none;
  padding: 10px 18px;
  background: #111827;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}